---
layout: cat
title: Design | KeldenL
cat: Design
---

<div class="cat-items">
  {% for post in site.posts %}
	<!-- Manage loop -->
	{% if post.cat == "Design" %}
    <article class="cat-item">
      <a href="{{ post.url }}">
        <div class="curr-img" style="background-image:url('../images/posts/{{ post.title }}.gif')"></div>
        <div>
            <h1>{{ post.title }}</h1>
            <p id="role">{{ post.role }}</p>
        </div>
      </a>
    </article>
	{% endif %}
  {% endfor %}
</div>
