---
layout: default
---

<div class="timeline">
  {% for post in site.posts %}
    <article class="timeline-item">

    	<!-- Timeline item description -->
    	{% assign curr_idx = {{forloop.index}} | modulo: 2 %}
    	{% assign set_top = {{forloop.index0}} | times: 200 %}

    	{% if curr_idx != 0 %}
	    	<div id="desc" style="float:right; text-align: left; background-color: green">
    	{% else %}
	    	<div id="desc" style="float:left; text-align: right;  background-color: purple;">
    	{% endif %}
    			<div id="set">
			    	<div id="circle"></div>
			    	<div id="line"></div>
		    	</div>
		    	<div id="info">
		    		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		    		<p>{{ post.role }}</p>
					<div class="summ">
						{{ post.excerpt }}
					</div>
				</div>
			</div>
    </article>
  {% endfor %}
</div>