---
layout: default
---

<div class="timeline">
  {% for post in site.posts %}
    <article class="timeline-item">

    	<!-- Timeline item description -->

    	<!-- Set proper box colors -->
    	{% if post.cat == "Projects" %}
    		{% assign curr_color = "#458EE5" %}
    	{% endif %}

		{% if post.cat == "Sketch" %}
			{% assign curr_color = "#7ED321" %}
  	{% endif %}

		{% if post.cat == "Design" %}
			{% assign curr_color = "#F6A623" %}
  	{% endif %}

    	<!-- Manage loop -->
    	{% assign curr_idx = {{forloop.index}} | modulo: 2 %}
    	{% assign set_top = {{forloop.index0}} | times: 200 %}

    	{% if curr_idx != 0 %}
	    	<div id="desc" class="right-item">
    	{% else %}
	    	<div id="desc" class="left-item">
    	{% endif %}
    			<div id="set">
			    	<div id="circle" style="border-color: {{ curr_color }}"></div>
			    	<div id="line" style="border-color: {{ curr_color }}; background-color: {{ curr_color }}"></div>
		    	</div>
		    	<a href="{{ site.baseurl }}{{ post.url }}">
			    	<div id="info">
			    		<p id="date" style="color:{{ curr_color }}"> {{ post.date | date: "%B %e, %Y" }}</p>
			    		<h1>{{ post.title }}</h1>
			    		<p id="role">{{ post.role }}</p>
						<div id="summ">
							{{ post.excerpt }}
						</div>
					</div>
				</a>
			</div>
    </article>
  {% endfor %}
</div>
