---
layout: cat
title: Key Works
cat: keyworks
---

<div class="cat-items">
  {% for post in site.posts %}
  	<!-- Manage loop -->
  	{% if post.cat == "Key Work" %}
      <article class="cat-item">
        <a href="{{ post.url }}">
          <img src="../images/posts/{{ post.title }}.gif" style="display:none" class="animated-bg">
          <div class="curr-img" style="background-image:url('../images/posts/{{ post.title }}.jpg')"></div>
    			<div>
    	    		<h1>{{ post.title }}</h1>
    	    		<p id="role">{{ post.role }}</p>
    			</div>
        </a>
      </article>
  	{% endif %}
  {% endfor %}
</div>
