<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      <a href="https://www.linkedin.com/in/kelden">LinkedIn</a> | <a href="https://www.youtube.com/user/KeldenL">Youtube</a> | <a href="https://www.behance.net/keldenlin">Behance</a> | <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=keldenlin@gmail.com&su=&body=&tf=1">Email</a> | <a href="https://keldenl.com">Back to live website</a><br/>
      Built by Kelden Lin on <a href="https://github.com/keldenl/Revamped-Website-2017">GitHub</a>
    </footer>
  </div>
</div>