@use postcss-custom-media;
@use postcss-nested;
@use cssnext;

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 105%;

  margin: 0;
  padding: 0;

  /* Footer style */
	min-height: 100%;
	display: flex;
	flex-direction: column;
}


/* Wraps all the content*/
.wrapper {
	flex: 1;
}

/* Navbar Style */
.nav-bar {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: .6rem 1.75rem .2rem 1.75rem;
  overflow: hidden;
}

.nav-butt {
  float: left;
  padding: 25px 15px 25px 7.5px;
}

.nav-butt a {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;

  /* Fade hover effect */
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;

  transition:.2s;
}

/* Navbar Custom hovers */
#home:hover {
  color: #F44336;
}
#pro:hover {
    color: #458EE5;
}

#des:hover {
    color: #F6A623;
}

#sket:hover {
    color: #7ED321;
}

/* Footer */
.footer {
	font-size: 95%;
	color: gray;
  background-color: #070809;
  padding: 20px 0;
  text-align: center;
}

#social-bar a img {
  width: 35px;
  margin: 7.5px 5px 0 5px;

  /* Fade hover effect */
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;

  transition:.2s;
}

#social-bar a img:hover {
  opacity: .7;
}

.footer a {
	text-decoration: none;
	color: lightgray;
}

.footer a:hover{
	text-decoration: underline;
}
