.top-wrapper {
	border-top: 5px solid #1b1b1b !important;
}

#gold-wrapper{
  border-bottom: 1px solid #282828;
}

.container, .post-container  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post-container {
  z-index: 0;
  width: 61.8%;
}

.main-title {
  font-size: 3rem;
  margin: 0;
}

.subtitle {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 300;
  opacity: .75;
}

.post-img {
  width: 100%;
  padding: 17.5px 0;
}

p, h2 {
  margin: 12.5px 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

strong, h2 {
  font-size: 1.75rem;
}

.post-container img {
  padding: 15px;
  margin: 10px 0;
  background-color: #282828;
  border: 1px #181818 solid;
  max-width: 100%;
}

.post-container a {
  text-decoration: none;
}

.post-container a:hover {
  text-decoration: underline;
}


/* Progress bar */
.progress-container {
  z-index:99;
  left:0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  content: "";
	display: table;
	table-layout: fixed;
}

.progress-bar {
  width: 0%;
  float: left;
  height: 100%;
  max-width: 100%;
  background-color: #4990E2;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

@media only screen and (max-width: 550px) {
	.post-container {
		width: 80%
	}

  #gold-wrapper {
    width: 90%;
  }
}


/* Back to top styling */


.cd-top {
	z-index: 1;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
