body {
    background: url(images/bg.png) no-repeat; 
    background-size: 100% auto;
    background-color: #0A0D10;
}

/* Default Style */
/* Non-timeline */
.top-wrapper {
    width: 100%;
    height: 475px;
}

.profile {
    text-align: center;
}

.site-avatar img{
    width: 225px;
    height: auto;

    margin-top: 50px;
    border-radius: 100%;
}

.major-info h2 {
    font-size: 1.7rem;
    font-weight: 400;

    line-height: 1.5rem;
    margin-bottom: 0;
}

.major-info p{
    font-size: 1rem;
    opacity: .5;

    line-height: .3rem;
    margin-top: 1rem;
}

/* Timeline */
/* Timeline shapes */
.timeline {
    width: 61.8%;
    margin: 65px auto;
    padding-bottom: 100px;
}

.timeline-item, .timeline-item #set, #desc {
    height: 150px;
}

.timeline-item #set {
    position: absolute;
    left: 50%;
}

#set #circle, #set #line {
    position: relative;
    text-align: center;
    left: -50%;
    margin: .3rem auto;
}

#set #circle{
    width: .7rem;
    height: .7rem;
    border: .3rem blue solid;
    border-radius: 100%;
}

#set #line {
    border: .15rem blue solid;
    width: 0;
    height: 75%;
    margin: .4rem auto;
}

/* Timeline description */
#desc {
    width: 50%;
    min-width: 275px;
    clear: both;
}

#info {
    margin: 0 25px;
    padding: 2.5px 15px 10px;

    /* Fade hover effect */
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;

    transition:.25s;
}

#info:hover {
    background-color: rgba(255, 255, 255, .1);
}

#info #date {
    font-weight: 700;
    font-variant-caps: all-petite-caps;
}

#info h1, #info p {
    margin: .1rem 0;
}

#info #date {
    margin: 0;
}

#info #role {
    font-size: .9rem;
    font-weight: 400;
}

#info #summ {
    opacity: .7;
}

#desc a{
    text-decoration: none;
    color: white;
}

#clear {
    clear: both;
}

/* Responsiveness */
@media only screen and (max-width: 850px) {
    .timeline {
        width: 90%;
    }
}
