body {
	background-color: #1B1B1B;
}

.top-wrapper {
	background-color: #282828;
	border-top: 5px solid;
}

/* Makes the navbar items closer to the center */
#gold-wrapper {
    width: 61.8%;
    margin: auto;
}

.nav-bar {
	padding-left: 0;
	padding-right: 0;
}

.nav-info {
    float: left;
    padding: 15px 5px;
}

.nav-info img {
	width: 55px;
	height: auto;
	border-radius: 100%;
	margin-top: -5px;
}

#cat-title {
    font-size: 1.3rem;
}

#cat-num {
    font-size: .9rem;
    color: #4A4A4A;
}

#breadcrumb {
	font-size: .9rem;
	margin-left: 19.1%;
}

/* Item styles */
.cat-items {
    width: 61.8%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-item {
    width: calc(33% - 15px);
    vertical-align: top;
    display: inline-block; 
    text-align: left;
    background-color: #2D2D2D;
    margin: 15px 7.5px 15px 0;
}

.cat-item img{
	width: 100%;
	height: auto;
	padding: 0;
}

.cat-item div {
    padding: 5px 10px 15px 10px;
}

.cat-item a, #breadcrumb a {
	text-decoration: none;
	color: #C8C8C8;
}

.cat-item a:hover, #breadcrumb a:hover {
	text-decoration: underline;
}

.cat-item h1 {
	margin: 0px;
}

.cat-item p {
	color: #969696;
	margin: 0px;
}

.footer {
	background-color: #101010;
}

/* Responsiveness */
@media only screen and (max-width: 950px) {
/*	body {
		background-color: blue;
	}*/
	.cat-item {
    	width: calc(50% - 15px);
	}
}

@media only screen and (max-width: 740px) {
/*	body {
		background-color: red;
	}*/

	#gold-wrapper, .cat-items {
		width: 90%;
	}

	#breadcrumb {
		margin-left: 5%;
	}

	.resp-nav {
		float: left;
		clear: left;
	}

	.nav-butt {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media only screen and (max-width: 550px) {
	.cat-item {
		width: 100%
	}
}