body {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% auto;
    background-color: #0A0D10;
}

/* Default Style */
/* Non-timeline */

.profile {
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
}

img.site-avatar{
    width: 150px;
    height: auto;
    border-radius: 100%;
}

.wip {
  background-color: red;
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: .7rem;
  font-weight: bold;
}

.major-info {
  max-width: 225px;
  
}

.major-info h2 {
  font-size: 1.7rem;
  font-weight: 400;

  line-height: 1.5rem;
  margin-bottom: 0;
}

.major-info p{
  font-size: 1rem;
  opacity: .75;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.container {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

/* Timeline */
.year-heading {
  font-size: 2.5rem;
  margin-bottom: 0;
}

/* Timeline shapes */
.timeline {
    /* width: 61.8%; */
    margin-left: 40px;
    padding-bottom: 50px;
}

.timeline-item, .timeline-item .set, .desc {
    /* height: 150px; */
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
/*
.timeline-item .set {
    position: absolute;
    left: 50%;
}

.set .circle, .set .line {
    position: relative;
    text-align: center;
    left: -50%;
    margin: .3rem auto;
}

.set .circle{
    width: .7rem;
    height: .7rem;
    border: .3rem blue solid;
    border-radius: 100%;
}

.set .line {
    border: .15rem blue solid;
    width: 0;
    height: 75%;
    margin: .4rem auto;
}

.right-item {
    float:right;
    text-align: left;
}

.left-item {
    float:left;
    text-align: right;
} */

/* Timeline description */
/* .desc {
    width: 50%;
    min-width: 275px;
    clear: both;
} */

.info {
    margin: 10px 0;
    padding: 0 15px 5px;

    /* Fade hover effect */
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;

    transition: .35s;
}

.info:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.info .date {
    font-weight: 700;
    font-variant-caps: all-petite-caps;
}

.info h1, .info p {
    margin: .1rem 0;
    font-size: .9rem;
}

.info h1 {
  font-size: 1.3rem;
}

.info .date {
    margin: 0;
}

.info .role {
    font-size: .9rem;
    font-weight: 400;
}

.info .summ {
  margin-top: 10px;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

a.read-more {
  text-decoration: none;
  color: white;
  font-size: .75em;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  padding: 7.5px 0;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

a.read-more:hover {
  filter: brightness(115%);
}

.desc a{
    text-decoration: none;
    color: white;
}

.clear {
    clear: both;
}


.cat-label {
  width: 8px;
  height: 8px;
  margin-right: 6px;
  display: inline-block;
  border-radius: 100%;
}

/* Responsiveness */
@media only screen and (max-width: 968px) {
    .landing-wrapper {
      width: 100%;
    }
}

@media only screen and (max-width: 650px) {
  .landing-wrapper {
    flex-direction: column!important;
  }

  .about-visible {
    visibility: hidden;
  }

  .about-hidden {
    visibility: unset;
    text-align: center;
  }

  .major-info { margin: auto; max-width: none; }
  .cat-container > label {
    width: 40%;
    display: inline-block;
    margin: 5px 5px 0 0;
  }

  .resp-nav { float: none; }
  .nav-bar { text-align: center; }
}

@media only screen and (max-width: 475px) {
  .timeline-item { width: 100%; }
  #gold-wrapper { width: 100%; }
}
