body {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% auto;
    background-color: #0A0D10;
}

/* Default Style */
/* Non-timeline */
.top-wrapper {
    width: 100%;
    text-align: center;
}

.profile {
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
}

.site-avatar img{
    width: 225px;
    height: auto;

    margin-top: 50px;
    border-radius: 100%;

    /* Fade hover effect */
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition: .25s;
}

.site-avatar img:hover {
  	box-shadow: 0 12px 15px rgba(0,0,0,0.20), 0 5px 5px rgba(0,0,0,0.17);
}

.wip {
  background-color: red;
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: .7rem;
  font-weight: bold;
}

.major-info h2 {
    font-size: 1.7rem;
    font-weight: 400;

    line-height: 1.5rem;
    margin-bottom: 0;
}

.major-info p{
    font-size: 1rem;
    opacity: .5;

    line-height: .3rem;
    margin-top: 1rem;
}

.container {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

/* Search */
#search-container {
  width: 100%;
  margin-top: -7.5px;
  text-align: center;
}

#search-container input[type='text'] {
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  color: white;
  font-size: .8em;

  outline: none;
}

/* #search-container input[type='text']:focus {
  background-color: rgba(255, 255, 255, .15);
} */

#results-container {
  width: 100%;
  background-color: rgba(255,255,255,.1);
  border-radius: 5px;
  padding: 0;
  margin-top: 5px;
}

#results-container li {
  width: calc(100% - 30px);
  padding: 10px 15px;
  list-style: none;
  text-align: left;
}

#results-container li:hover {
  background-color: rgba(255,255,255,.05);
  transition: .2s background-color ease-out;
}

#results-container a {
  color: white;
  font-size: .8em;
  font-weight: 300;
  text-decoration: none;
}

/* Timeline */
/* Timeline shapes */
.timeline {
    width: 61.8%;
    margin: 0 auto 65px auto;
    padding-bottom: 100px;
}

.timeline-item, .timeline-item #set, #desc {
    height: 150px;
}

.timeline-item #set {
    position: absolute;
    left: 50%;
}

#set #circle, #set #line {
    position: relative;
    text-align: center;
    left: -50%;
    margin: .3rem auto;
}

#set #circle{
    width: .7rem;
    height: .7rem;
    border: .3rem blue solid;
    border-radius: 100%;
}

#set #line {
    border: .15rem blue solid;
    width: 0;
    height: 75%;
    margin: .4rem auto;
}

.right-item {
    float:right;
    text-align: left;
}

.left-item {
    float:left;
    text-align: right;
}

/* Timeline description */
#desc {
    width: 50%;
    min-width: 275px;
    clear: both;
}

#info {
    border-radius: 10px;
    margin: 0 25px;
    padding: 7.5px 15px 10px;

    /* Fade hover effect */
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;

    transition: .25s;
}

#info:hover {
    background-color: rgba(255, 255, 255, .1);
}

#info #date {
    font-weight: 700;
    font-variant-caps: all-petite-caps;
}

#info h1, #info p {
    margin: .1rem 0;
}

#info #date {
    margin: 0;
}

#info #role {
    font-size: .9rem;
    font-weight: 400;
}

#info #summ {
    opacity: .7;
}

#desc a{
    text-decoration: none;
    color: white;
}

#clear {
    clear: both;
}

/* Responsiveness */
@media only screen and (max-width: 850px) {
    .timeline {
        width: 90%;
    }
}

@media only screen and (max-width: 575px) {
    .right-item, .left-item {
        float:left;
        text-align: left;
    }

    #desc {
        width: 100%;
        height: auto;
    }

    #set {
        left: 7.5%!important;
    }
}
