body {
	background-color: #161616;
}

.top-wrapper {
	border-top: 5px solid;
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
}

/* Makes the navbar items closer to the center */
#gold-wrapper {
    width: 61.8%;
    margin: auto;
}

.resp-nav {
	display: inline-block;
	float: right;
}

.nav-butt {
	padding: 2.1em 15px 0 7.5px;
}

.nav-bar {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.nav-info {
  float: left;
  padding: 15px 10px 15px 0;
}

.nav-info img {
	width: 2.6em;
	height: auto;
	border-radius: 100%;
}

#cat-title {
  font-size: 1.2rem;
	font-weight: 500;
}

#cat-num {
	font-size: .8rem;
  color: #555454;
  font-weight: 400;
}

#breadcrumb {
	font-size: .9rem;
	margin-left: 19.1%;
}

/* Item styles */
.cat-items {
  width: calc(61.8% + 15px);
  height: 100%;
  margin: auto;

	/* Flex row stuff */
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cat-item {
  width: calc(33% - 15px);
  vertical-align: top;
  display: inline-block;
  text-align: left;
  background-color: #212121;
	border-radius: 10px;
  margin: 0 7.5px 15px 7.5px;

  /* Fade hover effect */
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
	transition: .25s;
}

.cat-item:hover {
	box-shadow: 0 12px 15px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.10);
}

.curr-img{
	padding: 0;
	opacity: .8;
	height: 175px;
	border-radius: 10px 10px 0 0;
  background-size: cover;
	background-size: auto 200px;
  background-position: center center;
  background-repeat: no-repeat;

  /* Fade hover effect */
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
	transition: .25s;
}

.curr-img:hover {
	opacity: 1;
}

.cat-item div {
	padding: 10px 10px 15px 15px;
}

.cat-item a, #breadcrumb a {
	text-decoration: none;
	color: #C8C8C8;
}

#breadcrumb a:hover {
	text-decoration: underline;
}

.cat-item h1 {
	margin: 0px;
	font-size: 1.3em;
}

.cat-item p {
	color: #969696;
	margin: 0px;
}

.footer {
	background-color: #101010;
}

/* Responsiveness */
@media only screen and (max-width: 950px) {
/*	body {
		background-color: blue;
	}*/
	.cat-item {
    	width: calc(50% - 15px);
	}
}

@media only screen and (max-width: 825px) {
/*	body {
		background-color: red;
	}*/

	#gold-wrapper, .cat-items {
		width: 90%;
	}

	#breadcrumb {
		margin-left: calc(5% + 7.5px);
	}

	.resp-nav {
		float: left;
		clear: left;
	}

	.nav-butt {
		padding-top: 2.5px;
		padding-bottom: 12.5px;
	}
}

@media only screen and (max-width: 550px) {
	.cat-item {
		width: 100%
	}
}
